node_modules/
**/node_modules/
dist/
**/dist/
**/dist-ts/
.turbo/
coverage/
*.tsbuildinfo
.DS_Store
*.log
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
full-backup/
.vscode/
.idea/
*.suopnpm
*.njsproj
*.sln
*.sw?
.docs/
scripts/
tmp-test/
tmp/
**/tmp-test/
docs/
tmp-test.mjs
/cert.pem
